absl-py==0.7.0
astor==0.7.1
atari-py==0.2.6
baselines==0.1.5
bleach==1.5.0
certifi==2018.4.16
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cloudpickle==0.5.3
cvxopt==1.2.5
cycler==0.10.0
Cython==0.29.22
decorator==4.3.0
dill==0.2.8.2
fast-histogram==0.4
future==0.16.0
gast==0.2.2
glfw==2.1.0
google-pasta==0.2.0
grpcio==1.13.0
gym==0.10.5
h5py==2.10.0
html5lib==0.9999999
idna==2.7
imageio==2.9.0
importlib-metadata==1.7.0
joblib==1.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.0.1
lockfile==0.12.2
Markdown==2.6.11
matplotlib==2.2.2
mpi4py==3.0.3
-e git+https://github.com.cnpmjs.org/openai/multiagent-particle-envs@69ee7f85811c77ee651722bc3c332677b2195da1#egg=multiagent
networkx==2.1
numpy==1.14.5
numpy-stl==2.15.1
opt-einsum==3.3.0
Pillow==7.2.0
progressbar2==3.53.1
protobuf==3.15.5
pycparser==2.20
pyglet==1.5.11
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.2.0
python-dateutil==2.7.3
python-utils==2.4.0
pytz==2018.5
pyzmq==22.0.3
requests==2.20.0
scipy==1.1.0
seaborn==0.11.1
six==1.11.0
tensorboard==1.8.0
tensorboardX==2.1
termcolor==1.1.0
torch==1.4.0
tqdm==4.59.0
urllib3==1.24.2
webencodings==0.5.1
Werkzeug==0.15.3
wrapt==1.12.1
zipp==3.1.0
zmq==0.0.0
